
*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

.office-view, .office-details {
	max-width: 56rem;
	margin: 0 auto;
}

.office-details {
	margin-bottom: 40px;
}
