/* Mighty Slider */
#example {
	height: 500px;
	overflow: hidden;
	margin-top: -20px;
}
#example .mSButtons {
	height: 80%;
}
#example .frame {
  width: 100%;
  height: 100%;
}
#example .frame .slide_element {
  height: 100%;
}
#example .frame .slide_element > div {
  float: left;
  height: 100%;
  overflow: hidden;
}
#example .frame .mSCover img {
  max-width: none;
}
#example .credit {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 11px;
  line-height: normal;
  font-weight: 300;
  text-shadow: rgba(0,0,0,0.7) 0 1px 0px;
  color: #CCC;
  background: #000;
  background: rgba(0,0,0,0.6);
  padding: 0 4px;
  white-space: nowrap;
  z-index: 1002;
  text-transform: uppercase;
}
#example .credit a {
  color: #FFF;
  font-weight: 400;
}

.slide {
  background-image:linear-gradient(to bottom,
  rgba(255, 195, 113, 0.8), /* #FFC371 */
  rgba(255, 195, 113, 0.8)), url(../assets/images/busy-street.jpg); /* #b0dab9 */
  background-size: cover;
  height: auto;

}

.slide2 {
  background-image:linear-gradient(to bottom,
  rgba(176, 106, 179, 0.8), /* #B06AB3 */
  rgba(176, 106, 179, 0.8)), url(../assets/images/busy-street.jpg); /* #b0dab9 */
  background-size: cover;
}

.slide3 {
  background-image:linear-gradient(to bottom,
  rgba(76, 162, 205, 0.8), /* #4ca2cd */
  rgba(76, 162, 205, 0.8)), url(../assets/images/busy-street.jpg); /* #b0dab9 */
  background-size: cover;
}

.slide4 {
  background-image:linear-gradient(to bottom,
  rgba(103, 178, 111, 0.8), /* #67B26F */
  rgba(103, 178, 111, 0.8)), url(../assets/images/busy-street.jpg); /* #b0dab9 */
  background-size: cover;
}

.infoBlock {
/*  position: absolute;*/
  padding-top: 15%;
  padding-bottom: 15%;
  text-align: center;
  color: #fff;
 /* margin-left: 50px;*/
}

.infoBlock1 {
  position: absolute;
  top: 30px;
  right: 30px;
  left: auto;
  max-width: 30%;
  padding-bottom: 0;
  background: #FFF;
  background: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  padding: 20px;
  z-index: 1002;
}
.infoBlockLeftBlack {
  color: #FFF;
  background: #000;
  background: rgba(0,0,0,0.55);
  left: 90px;
  right: auto;
  opacity: 0;
}
.infoBlock2 {
  top: 90px;
  left: 100px;
}

.infoBlock h2 {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.infoBlock h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 3px;
  color: inherit;
  text-align: left;
}
.infoBlock p {
  color:#415B7F;
  font-size: 36px;
  font-weight: 150;
  font-family: 'Catamaran', sans-serif;
  margin: 4px 0 0;
}

.infoBlock a {
  color: #FFF;
  text-decoration: underline;
}

@media (max-width: 979px) {

  .navbar {
    margin-bottom: 0px;
  }

  #example {
    height: 400px;
    margin-top: 0;
  }
  .infoBlock {
    min-width: 40%;
  }
}

@media (max-width: 768px) {
  #example {
    margin: 0 -20px;
    height: 300px;
  }
  .infoBlock {
    padding: 30px;
    height: auto;
    max-height: 100%;
  }

  .infoBlock h2{
    font-size: 34px;
  }

  .infoBlock h4 {
    font-size: 14px;
    line-height: 17px;
  }
  .infoBlock p {
    font-size: 22px;
  }
}
/* End Mighty Slider */
