html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.container-fluid {		
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
  
}

.header-container {
	background-image:linear-gradient(to bottom,
	rgba(255, 195, 113, 0.8), /* #FFC371 */
	rgba(255, 195, 113, 0.8)), url(../assets/images/busy-street.jpg); /* #b0dab9 */
	background-size: cover;
	height: 100%;
	margin-top: -20px;
}

.footer {
	clear:left;
	background: #DAD299; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #DAD299 , #B0DAB9); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #DAD299 , #B0DAB9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 	font-family: 'Catamaran', sans-serif;
}

#primary {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  opacity: .7;
  color: white;
}

.main {
  background-color: transparent;
	padding-top: 200px;
	padding-bottom: 200px;

}

.logo {
	height:75px;
}

h4, h6 {
	/*font-family: 'Lobster', cursive;*/
  font-family: 'Asap', sans-serif;
}

.navbar-brand {
	height: 100% !important;
}

.navbar {
	margin: 0px;
}

.navSquat {
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 0;
}

/*.navbar-default{
	clear: both;
	margin-bottom: 0px;
}*/

h5 {
	font-size: 24px;	
	font-family: 'Lobster', cursive;
}

h1 {
	font-size: 6em;
/*	font-family: 'Lobster', cursive;
	font-family: 'Catamaran', sans-serif;
/*	font-family: 'Bitter', serif;
	font-family: 'Open Sans', sans-serif;
*/	
}

h2 {
	font-size: 60px;
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	color: black;
}

h5 {
	font-size: 1.5em;
	font-weight: bold
}


.lead {
	font-size: 3em;
	font-family: 'Catamaran', sans-serif;

}

.col-md-4 ul {
	list-style: none;
	padding: 0;
	font-size: 16px;
}

.col-md-4 ul li {
	display: block;
	width: 100%;
}

.col-md-4 ul li:hover {
	color: #70767F;
	width: 100%;
}

.col-md-4 h1 {
	line-height: 0;
}

.form-inline {
	margin-top: 50px;
	margin-bottom: 50px;
}

.form-inline .form-control {
	width: 50%;
}

.form-group {
 	padding:20px; 
}

.form-control, button {
	height: 50px;
	margin-right: 20px;
}
.navbar-nav > li > a{
	padding-right: 40px;
	font-size: 17px;
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;  
}

.nav .navbar-default {
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;  
}

.option_container {
	padding-bottom: 100px;
	height: 100%;
}

.option_container h3 {
	background-color: black;
	width:100%;
	color: white;
}


/* Image Hover Effect */
.hovereffect {
	width: 100%;
	height: 100%;
	margin-bottom: 50px;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background: #000000;
}

.hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	padding: 50px 20px;
}

.hovereffect img {
	display: block;
	position: relative;
	max-width: none;
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.hovereffect:hover img {
	opacity: 0.4;
	filter: alpha(opacity=40);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect h2, h3 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	overflow: hidden;
	padding: 0.5em 0;
	background-color: transparent;
}

.hovereffect h2:after{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	}

.hovereffect h3:after{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	}


.hovereffect:hover h2:after, h3:after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


.hovereffect a, .hovereffect p {
	color: #FFF;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/* End Img Hover  */


.squat-search {
	margin-top: 5%;
	margin-bottom: 5%;
}
