<div class="slide">
    <div class="infoBlock">
      <h2>Welcome</h2>
      <p>We are changing the way real estate is done.</p>
    </div>
</div>

<!-- OFFICE SEARCH -->
<section class="squat-search">
	<form class="form-horizontal">
  		<div class="form-group form-group-lg">
    		<label class="col-sm-2 control-label" for="formGroupInputLarge">Where:</label>
			<div class="col-sm-8">
				<select class="form-control" id="formGroupInputLarge" placeholder="Choose a location" ng-model="location" ng-change="home.setLocation(location)">
				<option ng-repeat="option in home.offices | unique: 'location'">{{ option.location }}</option>
				</select>
			</div>
<!--
			<div class="col-md-3">
				<button type="submit" class="btn btn-success" ng-click="home.setLocation(location)">SEARCH</button>
			</div>
-->
		</div>
	</form>
</section>
<!-- END OFFICE SEARCH -->

<!-- OFFICE RESULTS -->
<section>
	<div align="center" ng-hide="!offices.name">
		<h3>AVAILABLE OFFICES</h3>
	</div>
	<div align="center" class="option_container">
		<div class="available-offices" ng-repeat="offices in home.availOffices">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="office-item hovereffect">
					<img class="img-responsive" src="/assets/images/LargeMeetingRoomEdit.jpg" alt="" height="238">
					<div class="overlay">
						<h2>{{ offices.location }}</h2>
						<h3 class="location">{{ offices.name }}</h3>
						<p>
						<a href="office.html">RENT NOW</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END OFFICE RESULTS -->
